{% extends 'base.html.twig' %}

{% block title %}Pelatis index{% endblock %}

{% block body %}
    <h1>Pelatis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pelati in pelatis %}
            <tr>
                <td>{{ pelati.id }}</td>
                <td>{{ pelati.name }}</td>
                <td>{{ pelati.lastName }}</td>
                <td>
                    <a href="{{ path('pelatis_show', {'id': pelati.id}) }}">show</a>
                    <a href="{{ path('pelatis_edit', {'id': pelati.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pelatis_new') }}">Create new</a>
{% endblock %}
